html{
  font-size: 18px;
  font-family: Helvetica;
}

.content{
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  display:flex;
  align-items: center;
  width: 960px;
  padding: .66rem 0;
  background-color: black
}

.logo{
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

.title{
  font-size: 1rem;
  color: white;
}

.banner{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  width: 960px;
}

.new-arrival{
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 2rem 3rem auto auto;
  margin-top: 9rem;
  width: 20rem;
}

.new{
  font-size: 1rem;
  padding-bottom: .25rem;
}

.arrival{
  font-size: 2rem;
}

.navigation{
  display: flex;
  justify-content: space-around;
  padding: .75rem 0;
  background-color: firebrick;
}
